.App-main {
    position: relative;
    /* width: 75vw;
    height: calc(75vw * .6); */
    width: 100%;
    height: 500px;
    margin: 10px auto;
    border: 1px solid #8cc63f;
}

.App-control-container {
    position: absolute;
    height: 100%;
    width: 60px;
    /* left: -60px; */
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.App-control-container.hidden {
    display: none;
}

.App-control-container .ots-video-control {
    width: 50px;
    height: 50px;
    margin: 20px 0 !important;
    border: 2px solid white;
    border-radius: 50%;
    background-position: center;
    background-color: #8cc63f;
    background-repeat: no-repeat;
    cursor: pointer;
}

.App-control-container .ots-video-control.audio {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-mic.png);
}

.App-control-container .ots-video-control.audio:hover,
.App-control-container .ots-video-control.audio.muted {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-muted-mic.png);
}

.App-control-container .ots-video-control.video {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-video.png);
}

.App-control-container .ots-video-control.video.muted {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-no-video.png);
}

.App-video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-mask {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    background: #8cc63f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-mask.hidden {
    display: none;
}

.App-mask .react-spinner {
    position: absolute;
}

.App-mask .message {
    font-weight: 200;
}

.App-mask .message.with-spinner {
    position: absolute;
    top: 57.5%;
}

.App-mask .message.button {
    border: 1px solid white;
    padding: 20px 40px;
    border-radius: 6px;
}

.App-video-container .video-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.App-video-container .video-container.small {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 160px;
    height: 96px;
    border: 1px solid #fcba00;
    z-index: 2;
}

.App-video-container .video-container.small.left {
    left: 20px;
    border: 1px solid #00fcc2;
}

.App-video-container .video-container.hidden {
    display: none;
}

.App-video-container .video-container.active-2 .OT_subscriber {
    width: 50%;
}

.App-video-container .video-container.active-3 .OT_subscriber {
    width: calc(100%/3) !important;
}

.App-video-container .video-container.active-4 {
    flex-wrap: wrap;
}

.App-video-container .video-container.active-4 .OT_subscriber {
    width: 50% !important;
    height: 50% !important;
}

progress-spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    -webkit-animation: rotate 800ms linear infinite;
    animation: rotate 800ms linear infinite;
}

progress-spinner[dark] {
    border-top-color: rgba(255, 255, 255, 0.6);
}

progress-spinner[dotted] {
    border-width: 0;
    border-style: dotted;
    border-top-width: 2px;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ots-text-chat {
    position: relative;
    margin-top: 20px;
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    font-family: helvetica, arial, sans-serif;
    color: #343c3e;
    font-weight: normal;
}

.ots-text-chat .ots-messages-header {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #8cc63f;
    background: #8cc63f;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ots-text-chat .ots-messages-header.hidden {
    display: none;
}

.ots-text-chat .ots-messages-holder {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll
}

.ots-text-chat .ots-messages-holder.has-alert {
    padding-top: 30px;
}

.ots-text-chat .ots-messages-holder .ots-messages-alert {
    position: relative;
    padding: 30px;
    min-height: 65px;
    background: rgba(248, 231, 28, 0.25);
    margin: 25px;
    text-align: center;
    color: #ad7212;
    font-size: 14px;
    line-height: 1.4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.ots-text-chat .ots-messages-holder .ots-messages-alert.green {
    color: #417505;
    background-color: rgba(126, 210, 33, 0.30);
}

.ots-text-chat .ots-messages-holder .ots-messages-alert.red {
    color: #c41f4b;
    background-color: rgba(210, 33, 33, 0.30);
}

.ots-text-chat .ots-messages-holder .ots-message-item {
    position: relative;
    padding: 0 0 0 50px;
    margin: 40px 25px 10px 20px
}

.ots-text-chat .ots-messages-holder .ots-message-item .ots-user-name-initial {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 24px
}

.ots-text-chat .ots-messages-holder .ots-message-item .ots-item-text {
    position: relative;
    padding: 12px;
    min-height: 65px;
    background: #f2f2f2;
    margin-left: 14px;
    color: #7c7c7c;
    font-size: 15px;
    line-height: 1.2;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ots-text-chat .ots-messages-holder .ots-message-item .ots-item-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 0;
    border-color: transparent #f2f2f2 transparent transparent
}

.ots-text-chat .ots-messages-holder .ots-message-item .ots-item-text span {
    display: block;
    margin-bottom: 6px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.ots-text-chat .ots-messages-holder .ots-message-item .ots-item-timestamp {
    position: absolute;
    top: -18px;
    /* right: 20px; */
    color: #b3b3b3;
    font-size: 12px;
    font-weight: bold;
}

.ots-text-chat .ots-messages-holder .ots-message-item.ots-message-sent {
    padding: 0 50px 0 0;
    margin: 40px 20px 10px 25px
}

.ots-text-chat .ots-messages-holder .ots-message-item.ots-message-sent .ots-user-name-initial {
    left: inherit;
    right: 0;
    background: #8cc63f;
}

.ots-text-chat .ots-messages-holder .ots-message-item.ots-message-sent .ots-item-text {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-left: 0;
    margin-right: 14px
}

.ots-text-chat .ots-messages-holder .ots-message-item.ots-message-sent .ots-item-text:before {
    left: inherit;
    right: -12px;
    border-width: 14px 14px 0 0;
    border-color: #f2f2f2 transparent transparent transparent
}

.ots-text-chat .ots-messages-holder .ots-message-item.ots-message-sent .ots-item-timestamp {
    right: 50px
}

.ots-text-chat .ots-send-message-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-top: 1px solid #c6c6c6;
    padding-right: 70px
}

.ots-text-chat .ots-send-message-box input[type="text"],
.ots-text-chat .ots-send-message-box textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background: 0;
    padding: 5px;
    font-size: 16px;
    resize: none;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
}

.ots-text-chat .ots-send-message-box button {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    background-color: #8cc63f;
    border-left: 1px solid #8cc63f;
    outline: 0;
    border: 0;
    margin: 0;
}

.ots-text-chat .ots-send-message-box button:hover {
    background-color: #8cc63f;
}

.ots-text-chat .ots-send-message-box .ots-character-count {
    position: relative;
    /* bottom: -25px; */
    right: 0;
    color: #cf2027;
    font-size: 12px;
    margin: 0 0 0 0;
}

.ots-text-chat .ots-user-prof-info {
    width: auto;
    height: 430px;
    padding: 32px 46px;
}

.ots-text-chat .ots-user-prof-info span {
    display: block;
    margin-bottom: 10px;
    color: #5f5a5a
}

.ots-text-chat .ots-user-prof-info span em {
    color: #867f7f;
    font-style: normal;
}

.ots-text-chat .ots-user-prof-info hr {
    margin: 36px 0;
}

.ots-icon-check {
    background-image: url("https://assets.tokbox.com/solutions/images/text-chat-check.png");
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .ots-icon-check {
        background-image: url("https://assets.tokbox.com/solutions/images/text-chat-check@2x.png");
        background-size: 27px 21px;
    }
}


/*timer*/

.timerSection {
    text-align: center;
    margin-bottom: 30px;
}

.style {
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    border-style: solid;
}

.colorDefinition {
    background: #ffffff;
    color: #000;
    border-color: #8cc63f;
    padding: 5px;
}

.size_xl {
    font-size: 50px;
    border-width: 8px;
    border-radius: 6px;
}

.size_lg {
    font-size: 22px;
    border-width: 7px;
    border-radius: 5px;
}

.size_md {
    font-size: 30px;
    border-width: 5px;
    border-radius: 4px;
}

.size_sm {
    font-size: 20px;
    border-width: 3px;
    border-radius: 3px;
}

.size_xs {
    font-size: 15px;
    border-width: 2px;
    border-radius: 2px;
}

.exitbtn {
    padding: 0 20px!important;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: auto;
}